$tile: #2c3e50;
$tile-light: #34495e;

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
#canvasCtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #1e272e;
}
#canvas{
     border:1px solid #000000;
     background-color: $tile;
}