@import './colors';

#gui-left{
    background-color: $tile;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    height: 100%;
    // display: inline-flex;
    @include max-width();
    width: 12vw;
}
#gui-left-ctn{
    background-color: $tile;
    overflow:hidden;
}
.gui-ul{
    background-color: $tile-light;
    border-radius: 10px;
    margin-top: 20vh;
    margin-bottom: 20vh;
    height: 60vh;
    text-decoration: none;
    list-style: none;
    // margin: 0 !important;
    padding: 0 !important;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.gui-clickable-item{
    display: block;
}
.gui-img{
    margin: 10px 8px 10px 8px;
    background-color: $tile-lighter;
    transition: background-color .5s;
}
#gui-brush{
    padding: 6px 6px 6px 6px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    @include noselect();
    @include squareImg();
}
#gui-eraser{
    padding: 6px 6px 6px 6px;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    @include noselect();
    @include squareImg();
}
.util:hover{
    background-color: $tile-active;
}
.util:active{
    background-color: $tile;
}