@import './colors';

#gui-right{
    background-color: $tile;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    height: 100%;
    @include max-width();
    width: 12vw;
}
#gui-right-ctn{
    background-color: $tile-light;
    padding: 2vh 1vw 2vh 1vw;
    // overflow:hidden;
    width: 6vw;
    height: 22vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 4vh;
    margin-top: 4vh;

}
.options{
    @include noselect();
    list-style: none;
    // background-color: $tile-light;
}
.gui-button{
    width: 6vw;
    height: 6vh;
    margin-bottom: 2vh;
    text-decoration: none;
    cursor: pointer;
    background-color: $tile-lighter;
    transition: background-color .5s;
    border: none;
    border-radius: 6px;
    color: $text;
}
.gui-button:hover{
    background-color: $tile-active;    
}
.gui-button:active{
    background-color: $tile;
}
