$img-size: 64px;

@import './mixins';
@import './colorpicker';
@import './leftgui';
@import './rightgui';
@import './colors';

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
#main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #1e272e;
}
#canvasCtn{
    margin-left: 24vw;
    margin-right: 24vw;
}
#canvas{
    //  border:1px solid #000000;
     background-color: $tile;
}