$tile: #2c3e50;
$tile-light: #34495e;
$tile-lighter: #48627c;
$img-size: 64px;

@mixin squareImg(){
    width: $img-size;
    height: $img-size;
}

@mixin noselect(){
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
@mixin flex-center(){
    display: flex;
    justify-content: center;
    align-content: center;
}
@mixin max-width(){
    max-width: 12vw;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
#main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #1e272e;
}
#canvasCtn{
    margin-left: 24vw;
    margin-right: 24vw;
}
#canvas{
     border:1px solid #000000;
     background-color: $tile;
}
#gui-left{
    background-color: $tile;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    height: 100%;
    // display: inline-flex;
    @include max-width();
}
#gui-left-ctn{
    background-color: $tile;
    overflow:hidden;
}
.gui-ul{
    background-color: $tile-light;
    border-radius: 10px;
    margin-top: 20vh;
    margin-bottom: 20vh;
    height: 60vh;
    text-decoration: none;
    list-style: none;
    // margin: 0 !important;
    padding: 0 !important;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.gui-clickable-item{
    display: block;
}
.gui-img{
    margin: 10px 8px 10px 8px;
    background-color: $tile-lighter;
}
#gui-brush{
    padding: 6px 6px 6px 6px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    @include noselect();
    @include squareImg();
}
#gui-eraser{
    padding: 6px 6px 6px 6px;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    @include noselect();
    @include squareImg();
}
#gui-right{
    background-color: $tile;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    height: 100%;
    @include max-width();
}
#gui-right-ctn{
    background-color: $tile;
    overflow:hidden;
}
.options{
    @include noselect();
    list-style: none;
    
}
.gui-button{
    text-decoration: none;
    cursor: pointer;
}